In [1]:
#https://www.census.gov/data/datasets/time-series/demo/popest/2010s-state-total.html#par_textimage_500989927
import pandas as pd
import numpy as np
import os
from sqlalchemy import create_engine

In [2]:
CensusFileName="resources/nst-est2019-01.csv"

CensusDF =  pd.read_csv(CensusFileName, header=0)    

CensusDF.head()

,state,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,308745538,308758105,309321666,311556874,313830990,315993715,318301008,320635163,322941311,324985539,326687501,328239523
1,Alabama,4779736,4780125,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
2,Alaska,710231,710249,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
3,Arizona,6392017,6392288,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
4,Arkansas,2915918,2916031,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804

In [3]:
# default 2020 to same values to 2019
CensusDF['2020'] = CensusDF['2019']

In [4]:
df = pd.melt(CensusDF, id_vars=['state'], value_vars=['2015','2016','2017','2018','2019','2020'])
df.head()

           state variable      value
0  United States     2015  320635163
1        Alabama     2015    4852347
2         Alaska     2015     737498
3        Arizona     2015    6829676
4       Arkansas     2015    2978048

In [5]:
df.dtypes

state       object
variable    object
value        int64
dtype: object

In [8]:
engine = create_engine('sqlite:///resources/us_unemployment.db', echo=False)
df.to_sql('census',con=engine,if_exists='replace')